  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>О компании</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= render "/users/profile_menu" %>
        <div class="col-sm-8 col-md-9">
          <h1 class="hl text-center top-zero">ООО "Нижновтеплоэнерго"</h1>

<table border="1">
  <tr>
    <th>Who</th>
    <th>Phone</th>
    <th>Text</th>
    <th>Term</th>
    <th>Street</th>
    <th>House</th>
    <th>Korpus</th>
    <th>How</th>
    <th>Finish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apeals.each do |apeal| %>
  <tr>
    <td><%= apeal.who %></td>
    <td><%= apeal.phone %></td>
    <td><%= apeal.text %></td>
    <td><%= apeal.term %></td>
    <td><%= apeal.street %></td>
    <td><%= apeal.house %></td>
    <td><%= apeal.korpus %></td>
    <td><%= apeal.how %></td>
    <td><%= apeal.finish %></td>
    <td><%= link_to 'Show', apeal %></td>
    <td><%= link_to 'Edit', edit_apeal_path(apeal) %></td>
    <td><%= link_to 'Destroy', apeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <%= link_to 'Добавить жалобу', new_apeal_path, :class => "btn btn-default" %>
          </div>
        </div>
      </div>


    </div>
  </div>
<br />
