  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>О компании</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hl text-center top-zero">ООО "Нижновтеплоэнерго"</h1>

<%= grid(@apeals) do |g|

  g.blank_slate  do
    content_tag :div, "  <strong>Пока не было размещено ни одной жалобы</strong>".html_safe, class: 'alert alert-warning'
  end

  g.column name: 'Номер' do |apeal|
    link_to apeal.id, apeal
  end

  g.column  name: 'Дата создания' do |apeal|
    Russian::strftime(apeal.created_at, "%d %B %Y")
  end

  g.column  name: 'Суть жалобы' do |apeal|
    truncate( raw( sanitize(apeal.term, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...")
  end

  g.column  name: 'Кто <br>обратился'.html_safe do |apeal|
    "#{apeal.who} (#{apeal.phone})"
  end

  g.column  name: 'Предпринятые шаги' do |apeal|
    truncate( raw( sanitize(apeal.result, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...")
  end  

  g.column name: 'Решено' do |apeal|
    link_to('Изменить', edit_apeal_path(apeal))
  end

  g.column name: 'Изменить' do |apeal|
    link_to('Изменить', edit_apeal_path(apeal))
  end

end -%>

<table>
  <tr>
    <th>Who</th>
    <th>Phone</th>
    <th>Text</th>
    <th>Term</th>
    <th>Street</th>
    <th>House</th>
    <th>Korpus</th>
    <th>How</th>
    <th>Finish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apeals.each do |apeal| %>
  <tr>
    <td><%= apeal.who %></td>
    <td><%= apeal.phone %></td>
    <td><%= apeal.text %></td>
    <td><%= apeal.term %></td>
    <td><%= apeal.street %></td>
    <td><%= apeal.house %></td>
    <td><%= apeal.korpus %></td>
    <td><%= apeal.how %></td>
    <td><%= apeal.finish %></td>
    <td><%= link_to 'Show', apeal %></td>
    <td><%= link_to 'Edit', edit_apeal_path(apeal) %></td>
    <td><%= link_to 'Destroy', apeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <%= link_to 'Добавить жалобу', new_apeal_path, :class => "btn btn-default" %>
          </div>
        </div>
      </div>


    </div>
  </div>
<br />
