<p id="notice"><%= notice %></p>

<p>
  <b>Who:</b>
  <%= @apeal.who %>
</p>

<p>
  <b>Phone:</b>
  <%= @apeal.phone %>
</p>

<p>
  <b>Text:</b>
  <%= @apeal.text %>
</p>

<p>
  <b>Term:</b>
  <%= @apeal.term %>
</p>

<p>
  <b>Street:</b>
  <%= @apeal.street %>
</p>

<p>
  <b>House:</b>
  <%= @apeal.house %>
</p>

<p>
  <b>Korpus:</b>
  <%= @apeal.korpus %>
</p>

<p>
  <b>How:</b>
  <%= @apeal.how %>
</p>

<p>
  <b>Finish:</b>
  <%= @apeal.finish %>
</p>


<%= link_to 'Edit', edit_apeal_path(@apeal) %> |
<%= link_to 'Back', apeals_path %>
