  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Показания ПУ домов</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= render "/users/profile_menu" %>
        <div class="col-sm-8 col-md-9">
          <h1 class="hl text-center top-zero">Приборы учёта домов</h1>
<br>
<strong>Дата съёма: </strong><%= Russian::strftime(Date.yesterday, "%d.%m.%y") %>
<br><br>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= grid(@equip_houses) do |g|

  g.blank_slate  do
    content_tag :div, "  <strong>Нет ни одного приборы учёта.</strong>".html_safe, class: 'alert alert-warning'
  end

  g.column name: 'Адрес', attribute: 'street' do |equip_house|
    link_to "#{equip_house.street}, д. #{equip_house.housenumber}", equip_house
  end

  g.column name: 'ЦТП', attribute: 'ctp' do |equip_house|
    equip_house.ctp
  end

  g.column name: 'Дата съёма' do |equip_house|
    if equip_house.equip_values.last.present?
      Russian::strftime(equip_house.equip_values.last.date, "%d.%m.%y") if equip_house.equip_values.last.date.to_date == Date.yesterday
    end
  end

  g.column name: 'Отопление<br>(подача)'.html_safe, attribute: 't1', model: 'EquipValue' do |equip_house|
if equip_house.equip_values.last.present?
    equip_house.equip_values.last.t1 if equip_house.equip_values.last.date.to_date == Date.yesterday
end
  end

  g.column name: 'Отопление<br>(обратка)'.html_safe, attribute: 't2', model: 'EquipValue' do |equip_house|
if equip_house.equip_values.last.present?
    equip_house.equip_values.last.t2 if equip_house.equip_values.last.date.to_date == Date.yesterday
end
  end

  g.column name: 'ГВС<br>(подача)'.html_safe, attribute: 't3', model: 'EquipValue' do |equip_house|
if equip_house.equip_values.last.present?
    temperature(equip_house.equip_values.last.t3) if equip_house.equip_values.last.date.to_date == Date.yesterday
end
  end

end -%>

      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <%= link_to 'Добавить прибор', new_equip_house_path, :class => "btn btn-default" %>
          </div>
        </div>

      </div>



        </div>
      </div>



    </div>
  </div>
<br />