<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Данные по дому</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <!-- Blog Post -->
          <h4><%= "#{@equip_house.street}, дом #{@equip_house.housenumber}" %></h4>
          <hr>
          <h4>График расхода сетевой воды (отопление, т)</h4>
          <p class="blog-text">

            <%= line_chart EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:m1), colors: ["#DAA520"] %>
          </p>

<% if @equip_house.equip_values.last.present? %>
          <hr>
          <h4>Отопление (температура)</h4>
          <p class="blog-text">

            <%= line_chart [
		{name: "Подача", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:t1)},
		{name: "Обратка", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:t2)}
	      ], colors: ["#FF4500", "#4169E1"]
           %>

          </p>

          <hr>
          <h4>График отопления (ГКал)</h4>
          <p class="blog-text">

            <%= area_chart [
		
		{name: "Обратка", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:w2)},
{name: "Подача", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:w1)}

	    ]
	 %>
          </p>

          <hr>
          <h4>ГВС (температура)</h4>
          <p class="blog-text">

            <%= line_chart [
		{name: "Подача", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:t3)},
		{name: "Обратка", data: EquipValue.where(:equip_id => @equip_house.idequip).order("date DESC").limit(30).group(:date).maximum(:t4)}
	      ], colors: ["#FF4500", "#4169E1"]
           %>

          </p>


<% end %>

          <strong><%= link_to "Все дома", :back %></strong>
        </div>
        <div class="col-sm-4">
          <!-- Social Links -->
          <h3 class="hl">Данные дома</h3>
          <hr>
          <div class="">
            <strong>ЦТП:</strong> <%= @equip_house.ctp %><br>
            <strong>Адрес:</strong> <%= "#{@equip_house.street}, дом #{@equip_house.housenumber}" %>
            <strong>Последние данные:</strong> <%= Russian::strftime(@equip_house.equip_values.last.date, "%d.%m.%y") if @equip_house.equip_values.last.present? %>
            <br><br>
            <% if current_user.role == "apeals_manager" || current_user.role == "director" || current_user.role == "admin" %>
              <%= link_to 'Изменить', edit_equip_house_path(@equip_house), :class => "btn btn-red" %>
            <% end %>
            <div class="clearfix"></div>
          </div>
       
        </div>
      </div>
    </div>
  </div>


