
<!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
<h4>Цены и тарифы</h4>
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="<%= is_active('prices') %>">
                <a href="/prices.html" class="active">
                  Цены и тарифы <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li role="presentation" class="<%= is_active('podklucheniya') %>">
                <a href="/podklucheniya.html" class="active">
                  Возможности подключения <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li role="presentation" class="<%= is_active('catalogue') %>">
                <a href="#">
                  Информация о задолженности <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>


<br>
<h4>Раскрытие информации</h4>

            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="<%= is_active('teplo') %>">
                <a href="/teplo.html">
                  Теплоснабжение <i class="fa fa-chevron-right pull-right"></i>
                </a>
              </li>
              <li role="presentation" class="<%= is_active('gvs') %>">
                <a href="/gvs.html">
                  Горячее водоснабжение <i class="fa fa-chevron-right pull-right"></i>
                </a>
              </li>
              
              <li class="<%= is_active('blank') %>">
                <a href="/blanks.html">
                  Бланки договоров и контрактов <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li class="<%= is_active('trud') %>">
                <a href="/trud.html">
                  Результаты спецоценки условий труда <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li class="<%= is_active('buhuchet') %>">
                <a href="/buhuchet.html">
                  Бухгалтерская отчётность <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>





<br>
<h4>Закупки</h4>

            <ul class="nav nav-pills nav-stacked">
              <li class="<%= is_active('polozhenie') %>">
                <a href="/polozhenie.html">
                  Положение о закупках <i class="fa fa-chevron-right pull-right"></i>
                </a>
              </li>
              <li class="<%= is_active('plan') %>">
                <a href="/plan.html">
                  План закупок <i class="fa fa-chevron-right pull-right"></i>
                </a>
              </li>
              
              <li class="<%= is_active('today') %>">
                <a href="/today.html">
                  Текущие закупки <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li class="<%= is_active('arhive') %>">
                <a href="/arhive.html">
                  Архив закупок <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li class="<%= is_active('dogovora') %>">
                <a href="/dogovora.html">
                  Заключенные договоры <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>

        </div>
