<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Аккаунт</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%= render "profile_menu" %>
        <!-- Avatar & social links -->
        <div class="col-sm-8 col-md-6">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <div class="avatar">
                  <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar">
                  	<% if current_user.avatar? %>
	                    <%= image_tag current_user.avatar_url %>
                    <% else %>
                    	<%= image_tag "/images/no-avatar.png" %>
                    <% end %>
                  </a>
                  <!-- Upload new avatar bubble -->
                  <div class="avatar-bubble">
                    <a href="#" data-toggle="modal" data-target="#upload-avatar"><i class="fa fa-plus"></i> Изменить аватар</a>
                  </div>
                </div>
              </div>
              <!-- Modal window: Send a private message -->
                <div class="modal fade" id="upload-avatar" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="upload-avatar-title">Загрузить новый аватар</h4>
                      </div>
                      <div class="modal-body">
                        <p>Выберите фото для загрузки.</p>
                        <%= form_for (current_user) do |f| %>
                          <div class="form-group">
                            <label for="file">Файл</label>
                            <%= f.file_field :avatar, :class => "form-control", :required => "required" %>
                            <p class="help-block">Файл должен быть меньше 5Mb.</p>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                          <%= f.submit :value => "Отправить", :class => "btn btn-green" %>
                        <% end %>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- End of modal window -->
            </div>
            <!-- Main profile info -->
            <div class="col-sm-8">
              <h3 class="hl"><%= "#{current_user.name} #{current_user.surname}" %> <small><%= current_user.role %></small></h3>
              <hr>

            </div>
          </div>
          <!-- About Me 
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-user"></i> About Me</h4>
              <p class="bottom-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor nunc, dapibus a est sed, tempus bibendum arcu. Nullam pretium arcu in neque congue tempor. Quisque quis mauris sit amet magna fermentum tincidunt et a enim. Aliquam eu rhoncus libero, a pulvinar metus.</p>
              <hr>
            </div>
          </div>
           -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-info-circle"></i> Информация о пользователе</h4>
                  
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-muted">Наименование организации</td>
                    <td>ООО "Нижновтеплоэнерго"</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Телефон</td>
                    <td><%= current_user.phone %></td>
                  </tr>
                  <tr>
                    <td class="text-muted">Email</td>
                    <td><%= current_user.email %></td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
          <!-- Contact Information -->
        </div>
<%= render "/shared/profile_info" %>
      </div>
    </div>
  </div>