<!-- Main body
================== -->

  <div class="wrapper">
    <!-- Page tip -->
    <div class="page-tip animated slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Please sign in before you proceed. If you are not a member, <a href="sign-up.html">create an account</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <h3 class="hl top-zero">Sign in to Mysite.com</h3>
          <hr>
          <p>Our site supports several methods to verify your identity. Sign in to get instant access to all of our features.</p>
          <!-- Social icons -->
          <div class="login-social">
            <ul>
              <li id="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li id="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li id="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Login Box -->
        <div class="col-md-4 col-sm-6">
          <div class="form-box">
            <h4>Войти</h4>
            <hr>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail1">Логин</label>
                <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "exampleInputEmail1", :placeholder => "Ваш email" %>
                
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword1">Пароль</label>
                <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "exampleInputPassword1", :placeholder => "Ваш пароль" %>
             
              </div>
              <div class="checkbox">
                <label>
                    <% if devise_mapping.rememberable? -%>
    					<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  					<% end -%>
                </label>
              </div>
              <%= f.submit "Sign in", :class => "btn btn-green" %>
            <% end %>
            <hr>
            <p>Не зарегистрированы? <a href="/users/sign_up">Создать аккаунт.</a></p>
            <div class="pwd-lost">
              <div class="pwd-lost-q show">Lost your password? <a href="#">Click here to recover.</a></div>
              <div class="pwd-lost-f hidden">
                <p class="text-muted">Enter your email address and we will send you a link to reset your password.</p>
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="email-pwd">Email address</label>
                    <input type="email" class="form-control" id="email-pwd" placeholder="Enter email">
                  </div>
                  
                </ form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
